/******************************************
*  Author : Payton McCormick, Jonathan Bernal, Adam Mazur, Sajen Vasuthevan
*  Created On : Fri Jul 08 2022
*  File : style.css
*******************************************/

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Sora:wght@400;700&display=swap');

body{
    font-family: 'Sora', sans-serif;
    background-color: #f5f5f5;
}

.productPics{
    height:50vh;
    margin-top:10vh;
    margin-left:3em;
    width:80%;
    background-color:bisque;
}

#headingPage{
    font-family: 'Alex Brush', cursive;
}


#pageTitle{
    margin: 2rem;
    text-align: center;
}

#containerRows{
    text-align: center;
}